.fn-wrapper {
  display: flex;
  flex: 1 1 320px;
  flex-direction: column;
}
.fn-wrapper > * {
  width: 90%;
  left: 5%;
  position: relative;
  margin-top: 15px;
  box-shadow: 0 0 5px black;
  background: var(--dark-bgi);
  padding: 5px;

}
@keyframes rainbow-border {
  0% {     color: red; }
  14.28% { color: orange; }
  28.56% { color: yellow; }
  42.84% { color: green; }
  57.12% { color: blue; }
  71.4% {  color: indigo; }
  85.68% { color: violet; }
  100% {   color: red; }
}

.rainbow-text {
  border: 5px solid;
  animation: rainbow-border 5s linear infinite;
}

/* v-transitions */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  position: relative;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave-from {
  opacity: 1;
}
