.fn-wrapper {
  display: flex;
  flex: 1 1 320px;
  flex-direction: column;
}
.fn-wrapper > * {
  width: 90%;
  left: 5%;
  position: relative;
  margin-top: 15px;
  box-shadow: 0 0 5px black;
  background: var(--darker-bgi);
  padding: 5px;
}

.minw {
  width: min-content;
  text-wrap: nowrap;
}
.minw-c > * {
  width: min-content;
  text-wrap: nowrap;
}
.minw-c2 > * > * {
  width: min-content;
  text-wrap: nowrap;
}
@keyframes rainbow-border {
  0% {     color: red; }
  14.28% { color: orange; }
  28.56% { color: yellow; }
  42.84% { color: green; }
  57.12% { color: blue; }
  71.4% {  color: indigo; }
  85.68% { color: violet; }
  100% {   color: red; }
}

.rainbow-text {
  border: 5px solid;
  animation: rainbow-border 5s linear infinite;
}

/* v-transitions */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  position: relative;
}
.fade-enter-from, .fade-leave-to, .fade-0\.2-leave-to, .fade-0\.2-enter-from {
  opacity: 0;
}
.fade-enter-to, .fade-leave-from, .fade-0\.2-enter-to, .fade-0\.2-leave-from {
  opacity: 1;
}

.fadeout-leave-active, .fadein-enter-active {
  transition: opacity .5s;
}
.fade-0\.2-enter-active, .fade-0\.2-leave-active {
  transition: opacity .2s ease;
}
.fadeout-leave-to, .fadein-enter-from {
  opacity: 0;
}
.fadeout-leave-from, .fadein-enter-to {
  opacity: 1;
}


.multi-table {
  display: flex;
  flex-direction: column;
}
.multi-table > div {
  display: flex;
  flex-direction: row;
  justify-items: center;
}
.multi-table > div > * {
  flex-grow: 1;
}

input:invalid {
  background: #ff000088;
  font-style: italic;
}
@keyframes note-particle-ani {
  0% {
    scale: 0;
    opacity: 1;
  }
  90% {
    scale: 1.2;
    opacity: 1;
  }
  100% {
    scale: 1.3;
    opacity: 0;
  }
}
#svg-particle > rect {
  animation: note-particle-ani 0.15s ease-out;
}

.no-cursor{
  cursor: none !important;
}
/* i move it here because the fucking formation will change dis into 'true' sucks*/
#lane-notes > img[data-is-dragged=true] {
  opacity: 0 !important;
}

div[data-is-current-version=true] {
  box-shadow: 0 0 10px 2px white inset;
  padding: 10px 0;
  border-radius: 10px;
}
